<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserCouponMapper">
    
    <resultMap type="UserCoupon" id="UserCouponResult">
        <result property="id"    column="id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="userId"    column="user_id"    />
        <result property="usingStatus"    column="using_status"    />
        <result property="orderId"    column="order_id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectUserCouponVo">
        select id, coupon_id, user_id, using_status, order_id, created_by, created_time, updated_by, updated_time from user_coupon
    </sql>

    <select id="selectUserCouponList" parameterType="UserCoupon" resultMap="UserCouponResult">
        <include refid="selectUserCouponVo"/>
        <where>  
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="usingStatus != null "> and using_status = #{usingStatus}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectUserCouponById" parameterType="Long" resultMap="UserCouponResult">
        <include refid="selectUserCouponVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserCoupon" parameterType="UserCoupon">
        insert into user_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="usingStatus != null">using_status,</if>
            <if test="orderId != null">order_id,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="couponId != null">#{couponId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="usingStatus != null">#{usingStatus},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <select id="selectCouponList" parameterType="java.util.Map" resultType="com.ruoyi.system.domain.vo.UserCouponVO">
        SELECT
        c.id,
        c.name,
        c.coupon_type couponType,
        c.full_money fullMoney,
        c.minus,
        c.rate,
        c.whole_store wholeStore,
        uc.created_time receiveTime
        FROM user_coupon uc
        INNER JOIN coupon c ON uc.coupon_id=c.id
        <where>
            uc.user_id=#{userId}
            /*未使用*/
            <if test="type==1">
                and uc.order_id is null
                and c.end_time &gt;= (select now())
            </if>
            /*已使用*/
            <if test="type==2">
                and uc.order_id is not null
            </if>
            /*已过期（失效）*/
            <if test="type==3">
                and uc.order_id is null
                and c.end_time &lt;= (select now())
            </if>
            /*即将过期:7天*/
            <if test="type=4">
                and uc.order_id is null
                and (SELECT TIMESTAMPDIFF(DAY, NOW(), c.end_time)) &lt;=  7
            </if>
        </where>
        ORDER BY uc.created_time desc
    </select>

    <update id="updateUserCoupon" parameterType="UserCoupon">
        update user_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="usingStatus != null">using_status = #{usingStatus},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserCouponById" parameterType="Long">
        delete from user_coupon where id = #{id}
    </delete>

    <!--查询用户优惠券-->
    <delete id="deleteUserCouponByIds" parameterType="String">
        delete from user_coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>