<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AdministrationProvinceMapper">
    
    <resultMap type="AdministrationProvince" id="AdministrationProvinceResult">
        <result property="provinceId"    column="PROVINCE_ID"    />
        <result property="provinceCode"    column="PROVINCE_CODE"    />
        <result property="provinceName"    column="PROVINCE_NAME"    />
        <result property="shortName"    column="SHORT_NAME"    />
        <result property="lng"    column="LNG"    />
        <result property="lat"    column="LAT"    />
        <result property="sort"    column="SORT"    />
        <result property="gmtCreate"    column="GMT_CREATE"    />
        <result property="gmtModified"    column="GMT_MODIFIED"    />
        <result property="memo"    column="MEMO"    />
        <result property="dataState"    column="DATA_STATE"    />
        <result property="tenantCode"    column="TENANT_CODE"    />
    </resultMap>

    <sql id="selectAdministrationProvinceVo">
        select PROVINCE_ID, PROVINCE_CODE, PROVINCE_NAME, SHORT_NAME, LNG, LAT, SORT, GMT_CREATE, GMT_MODIFIED, MEMO, DATA_STATE, TENANT_CODE from administration_province
    </sql>

    <select id="selectAdministrationProvinceList" parameterType="AdministrationProvince" resultMap="AdministrationProvinceResult">
        <include refid="selectAdministrationProvinceVo"/>
        <where>  
            <if test="provinceCode != null  and provinceCode != ''"> and PROVINCE_CODE = #{provinceCode}</if>
            <if test="provinceName != null  and provinceName != ''"> and PROVINCE_NAME like concat('%', #{provinceName}, '%')</if>
            <if test="shortName != null  and shortName != ''"> and SHORT_NAME like concat('%', #{shortName}, '%')</if>
            <if test="lng != null  and lng != ''"> and LNG = #{lng}</if>
            <if test="lat != null  and lat != ''"> and LAT = #{lat}</if>
            <if test="sort != null "> and SORT = #{sort}</if>
            <if test="gmtCreate != null "> and GMT_CREATE = #{gmtCreate}</if>
            <if test="gmtModified != null "> and GMT_MODIFIED = #{gmtModified}</if>
            <if test="memo != null  and memo != ''"> and MEMO = #{memo}</if>
            <if test="dataState != null "> and DATA_STATE = #{dataState}</if>
            <if test="tenantCode != null  and tenantCode != ''"> and TENANT_CODE = #{tenantCode}</if>
        </where>
    </select>
    
    <select id="selectAdministrationProvinceByProvinceId" parameterType="Long" resultMap="AdministrationProvinceResult">
        <include refid="selectAdministrationProvinceVo"/>
        where PROVINCE_ID = #{provinceId}
    </select>
        
    <insert id="insertAdministrationProvince" parameterType="AdministrationProvince" useGeneratedKeys="true" keyProperty="provinceId">
        insert into administration_province
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">PROVINCE_CODE,</if>
            <if test="provinceName != null and provinceName != ''">PROVINCE_NAME,</if>
            <if test="shortName != null and shortName != ''">SHORT_NAME,</if>
            <if test="lng != null">LNG,</if>
            <if test="lat != null">LAT,</if>
            <if test="sort != null">SORT,</if>
            <if test="gmtCreate != null">GMT_CREATE,</if>
            <if test="gmtModified != null">GMT_MODIFIED,</if>
            <if test="memo != null">MEMO,</if>
            <if test="dataState != null">DATA_STATE,</if>
            <if test="tenantCode != null">TENANT_CODE,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">#{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">#{provinceName},</if>
            <if test="shortName != null and shortName != ''">#{shortName},</if>
            <if test="lng != null">#{lng},</if>
            <if test="lat != null">#{lat},</if>
            <if test="sort != null">#{sort},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="memo != null">#{memo},</if>
            <if test="dataState != null">#{dataState},</if>
            <if test="tenantCode != null">#{tenantCode},</if>
         </trim>
    </insert>

    <update id="updateAdministrationProvince" parameterType="AdministrationProvince">
        update administration_province
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">PROVINCE_CODE = #{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">PROVINCE_NAME = #{provinceName},</if>
            <if test="shortName != null and shortName != ''">SHORT_NAME = #{shortName},</if>
            <if test="lng != null">LNG = #{lng},</if>
            <if test="lat != null">LAT = #{lat},</if>
            <if test="sort != null">SORT = #{sort},</if>
            <if test="gmtCreate != null">GMT_CREATE = #{gmtCreate},</if>
            <if test="gmtModified != null">GMT_MODIFIED = #{gmtModified},</if>
            <if test="memo != null">MEMO = #{memo},</if>
            <if test="dataState != null">DATA_STATE = #{dataState},</if>
            <if test="tenantCode != null">TENANT_CODE = #{tenantCode},</if>
        </trim>
        where PROVINCE_ID = #{provinceId}
    </update>

    <delete id="deleteAdministrationProvinceByProvinceId" parameterType="Long">
        delete from administration_province where PROVINCE_ID = #{provinceId}
    </delete>

    <delete id="deleteAdministrationProvinceByProvinceIds" parameterType="String">
        delete from administration_province where PROVINCE_ID in 
        <foreach item="provinceId" collection="array" open="(" separator="," close=")">
            #{provinceId}
        </foreach>
    </delete>
</mapper>